<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hi, <%= @post.user.name %></h1>
    <p>
      Your post <%= link_to @post.title, 'www.sharealltech.com/posts/'+@post.id.to_s %> have a new comment:
    </p>
    <p>
      <%= @post.comments.last.body %>
    </p>
  </body>
</html>