<footer id="footer">
  <div class="wrapper">
    <section id="footer-menu">
      <div class="row-fluid">
        <div class="8">
          <p class="copyright">&copy; Copyright <%= Time.now.year %> - ShareAllTech. Powered by <a href="#">Bruce Yue.</a>
            <i class="iconm-mobile-2"></i> (+86)1893164XXXX &nbsp;
            <i class="iconm-mail-3"></i> <a href="mailto:#">bruce.yue@outlook.com</a>
          </p>
        </div>
      </div>
    </section>
    <!-- end: Footer Menu -->
  </div>
</footer>