<header id="header">
  <!-- start: Main menu -->
  <div class="container">
    <nav id="menu" class="clearfix">
      <ul>
        <li><%= link_to "Home", posts_path %></li>
        <li><%= link_to "New Tech", new_post_path %></li>
        <li><%= link_to "About Us", info_aboutus_path %></li>
        <li><%= link_to "Projects", info_projects_path %></li>
        <li><a href="#">Development</a>
          <ul>
            <li><a href="#">Salesforce</a>
              <ul>
                <li><a href="#">Apex Code</a></li>
                <li><a href="#">Visualforce</a></li>
                <li><a href="#">Heroku</a></li>
              </ul>
            </li>
            <li><a href="#">Ruby on Rails</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
  <!-- end: Main menu -->
</header>
