<header id="header">
  <!-- start: Main menu -->
  <div class="container">
    <nav id="menu" class="clearfix">
      <ul>
        <li><a href="../../posts" id="menuHomeLink"><span class="name">Home</span></a></li>
        <li><a href="../../posts/new" ><span class="name">New Tech</span></a></li>
        <li><a href="../../about_us/aboutus" ><span class="name">About Us</span></a></li>
        <li><a href="#"><span class="name">Development</span></a>
          <ul>
            <li><a href="#">Salesforce</a>
              <ul>
                <li><a href="#">Apex Code</a></li>
                <li><a href="#">Visualforce</a></li>
                <li><a href="#">Heroku</a></li>
              </ul>
            </li>
            <li><a href="#">Ruby on Rails</a></li>
          </ul>
        </li>
        <li><a href="#"><span class="name">Projects</span></a></li>
      </ul>
    </nav>
  </div>
  <!-- end: Main menu -->
</header>
