<section class="widget search">
  <div class="wrapper clearfix">
	  <form id="search" action="/posts" method="get">
	    <input type="text" name="search" value="<%= params[:search] %>" placeholder="Search" style="margin-bottom: 0; padding-left: 0; padding-right: 0;"/>
	  </form>
  </div>
</section>