<section id="top-menu">
  <div class="container">
    <div class="row">
      <div class="span4 logo">
        <a class="logo-img" href="https://www.sharealltech.com" target="_blank" ><%= image_tag("sat.png")%></a>
      </div>
      <div class="span8">
        <ul class="top-social hidden-phone">
          <%= render "common/login_form" %>
          <li><a href="#" rel="tooltip" data-placement="bottom" data-original-title="Facebook"><i class="icon-facebook"></i></a></li>
          <li><a href="#" rel="tooltip" data-placement="bottom" data-original-title="Twitter"><i class="icon-twitter"></i></a></li>
          <li><a href="#" rel="tooltip" data-placement="bottom" data-original-title="LinkedIn"><i class="icon-linkedin"></i></a></li>
          <li><a href="#" rel="tooltip" data-placement="bottom" data-original-title="Pinterestin"><i class="icon-pinterest"></i></a></li>
          <li><a href="#" rel="tooltip" data-placement="bottom" data-original-title="Google+"><i class="icon-google-plus last"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
