<aside class="widget widget_connect">
  	<h4 class="widget-title">Get Connected</h4>
  	<nav>
		<iframe src="http://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.sharealltech.com%2F&send=false&layout=standard&width=400&show_faces=true&font=arial&colorscheme=light&action=like&height=80" allowTransparency="true"></iframe>
	</nav>
</aside>