<!-- end: Page header / Breadcrumbs -->
<div class="row-fluid portfolio portfolio-extended member-info">
    <article class="span3">
        <div class="inner-image">
            <%= image_tag("bruce.jpg", width: 255) %>
            <span class="frame-overlay"></span>
        </div>
        <div class="inner-text">
            <h3 class="member-name">Bruce Yue</h3>
            <p>Nudge the world to a happier place.</p>
            <p class="member-social">
                <a href="http://www.facebook.com/bruce.yue"><i class="icon-facebook-sign"></i></a>
                <a href="https://twitter.com/bruceyue"><i class="icon-twitter-sign"></i></a>
                <a href="#"><i class="icon-envelope"></i></a>
            </p>
        </div>
    </article>
    <article class="span3">
        <div class="inner-image">
            <%= image_tag("team2.jpg", width: 255) %>
            <span class="frame-overlay"></span>
        </div>
        <div class="inner-text">
            <h3 class="member-name">Jhon Doe</h3>
            <p>Nudge the world to a happier place.</p>
            <p class="member-social">
                <a href="#"><i class="icon-facebook-sign"></i></a>
                <a href="#"><i class="icon-twitter-sign"></i></a>
                <a href="mailto:bruce.yue@outlook.com"><i class="icon-envelope"></i></a>
            </p>
        </div>
    </article>
    <article class="span3">
        <div class="inner-image">
            <%= image_tag("team3.jpg", width: 255) %>
            <span class="frame-overlay"></span>
        </div>
        <div class="inner-text">
            <h3 class="member-name">Teresa Wo</h3>
            <p>To build a happy family.</p>
            <p class="member-social">
                <a href="#"><i class="icon-facebook-sign"></i></a>
                <a href="#"><i class="icon-twitter-sign"></i></a>
                <a href="#"><i class="icon-envelope"></i></a>
            </p>
        </div>
    </article>
    <article class="span3">
        <div class="inner-image">
            <%= image_tag("team4.jpg", width: 255) %>
            <span class="frame-overlay"></span>
        </div>
        <div class="inner-text">
            <h3 class="member-name">Jhon Doe</h3>
            <p>Nudge the world to a happier place.</p>
            <p class="member-social">
                <a href="#"><i class="icon-facebook-sign"></i></a>
                <a href="#"><i class="icon-twitter-sign"></i></a>
                <a href="#"><i class="icon-envelope"></i></a>
            </p>
        </div>
    </article>
</div>

<div class="row-fluid">
    <div class="span12">
        <div class="hero-unit">
            <blockquote>
                <p>Focusing just on force.com is not enough. Ruby on Rails, here I come...</p><small>Bruce Yue</small>
                <p style="color:red">Notice:</p>
                <p>Login in through salesforce account, write you content by clicking "New Tech" with markdown syntax. If you create a post, it will also be posted to your Salesforce Chatter feed. If you want to access <a href="https://www.sharealltech.com/admin">'admin'</a>, use the Salesforce user name as your password to login.</p>
            </blockquote>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span4">
        <div class="well">
            <h3>Our Philosophy</h3>
            <p>Your attitude, not your aptitude, will determine your altitude.</p>
        </div>
    </div>
    <div class="span4">
        <div class="well">
            <h3>Our Mission</h3>
            <p> Build the world's best open source tech share platform.</p>
        </div>
    </div>
    <div class="span4">
        <div class="well">
            <h3>Web Development</h3>
            <p>Provide the best knowledges for people who badly needed it. <p>
        </div>
    </div>
</div>